.button,
.button::before,
.button::after,
.button span,
.button span::before,
.button span::after{
  transition: all ease .5s;
}
.header-container{
  position: relative;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  vertical-align: baseline;
  height: 63px;
  background-color: #170e09;
  line-height: 63px;
  text-align: center;
}
.header-block-account{
  float: right;
  border-left: 4px solid white;
  top: 3%;
  padding-right: 20px;
  right: 3%;
}
.header-block-account{
  padding-left: 10px;
}
.text-center-header{
  position: fixed;
  font-family: super;
  left: 40%;
  font-size: 30px;
  display: inline-block;
}
.button{
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  display: inline-block;
  padding: 0.3em;
  margin: 1em;
  border: solid 1px;
  transform: translate(-50%, 0);
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover{
  box-shadow: 0 0 5em .5em rgba(50,50,150,0.5);
}
.button span{
  display: inline-block;
  padding: 0.6em 2em;
}
.button:hover span{
  background-color: #fff;
  color: #112;
}
.button::before,
.button::after,
.button span::before,
.button span::after{
  content: '';
  position: absolute;
  border: 1px;
}
.button::before,
.button span::before{
  border-style: solid none;  
}
.button::before,
.button span::after{    
  left: 0;
  top: -0.4em;
  width: 100%; 
  height: calc(100% + 0.8em);
}
.button::after,
.button span::after{
  border-style: none solid;  
} 

.button::after,
.button span::before{
  top: 0;
  left: -0.4em;
  height: 100%;
  width: calc(100% + 0.8em); 
}

.button:hover::after,
.button:hover span::after{
  transform: scaleY(0);
}

.button:hover::before,
.button:hover span::before{
  transform: scaleX(0);
}

.button:hover span::after,
.button:hover span::before{
  opacity: 0;
}