<header class="header-container">
    <p class="text-center-header">World of warcraft. Conquers.</p>
</header>
<video class='videoTag' autoPlay loop muted>
    <source src='../../assets/video/bfa.mp4' type='video/mp4' />
</video>
<div class="menu">
    <div class="menu-item">
    <div class="glitch-btn" (click)="goTo('chooseRace')">
        <div class="text">SINGLE GAME<span class="hidden"></span></div>
        <div class="mask mask1">
            <span>SINGLE GAME</span>
        </div>
        <div class="mask mask2">
            <span>SINGLE GAME</span>
        </div>
        <div class="mask mask3">
            <span>SINGLE GAME</span>
        </div>
    </div>
    </div>
    <div class="menu-item">
    <div class="glitch-btn" (click)="goTo('/gameMulti')">
        <div class="text">PLAY WITH OTHERS<span className="hidden"></span></div>
        <div class="mask mask1">
            <span>PLAY WITH OTHERS</span>
        </div>
        <div class="mask mask2">
            <span>PLAY WITH OTHERS</span>
        </div>
        <div class="mask mask3">
            <span>PLAY WITH OTHERS</span>
        </div>
    </div>
    </div>
    <div class="menu-item">
    <div class="glitch-btn" (click)="goTo('info')">
        <div class="text">COURSE 4<span class="hidden"></span></div>
        <div class="mask mask1">
            <span>COURSE 4</span>
        </div>
        <div class="mask mask2">
            <span>COURSE 4</span>
        </div>
        <div class="mask mask3">
            <span>COURSE 4</span>
        </div>
    </div>
    </div>
</div>
<header class="down-container">
    <p class="text-center-header">Blizzard Entertainment</p>
</header>
